server.host: "0.0.0.0"
server.port: "80"
elasticsearch.username: "kibana_system"
elasticsearch.password: "8AiFrQlPQLGUKgtqiwlh"
logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file
pid.file: /run/kibana/kibana.pid
elasticsearch.hosts: ["http://10.190.213.50:9200", "http://10.190.213.51:9200", "http://10.190.213.52:9200"]

#if you need to run kibana on port 80, just like in this yaml you need to run this commands
    #sudo setcap cap_net_bind_service=+epi /usr/share/kibana/bin/kibana
    #sudo setcap cap_net_bind_service=+epi /usr/share/kibana/bin/kibana-plugin
    #sudo setcap cap_net_bind_service=+epi /usr/share/kibana/bin/kibana-keystore
    #sudo setcap cap_net_bind_service=+epi /usr/share/kibana/node/bin/node
