server.host: "0.0.0.0"
elasticsearch.username: "kibana_system"
elasticsearch.password: "elastic"
logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file
pid.file: /run/kibana/kibana.pid
elasticsearch.hosts: ["http://10.128.0.22:9200,http://10.128.0.23:9200,http://10.128.0.24:9200"]